{% extends 'base.html.twig' %}

{% block title %}Editando - {{ categorium.nome }}{ % endblock %}

{% block body %}
    <h1 class="fs-5 text">Editando Categoria - {{ categorium.nome }}</h1>

    {{ include('categoria/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary mt-5 my-2" href="{{ path('app_categorias_index') }}">Voltar</a>

    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
