{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <h1 class="fs-5 text">Categorias</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td>{{ categorium.id }}</td>
                <td>{{ categorium.nome }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_categorias_show', {'id': categorium.id}) }}"><i class="bi-eye"></i> Ver</a>
                    <a class="btn btn-outline-primary"  href="{{ path('app_categorias_edit', {'id': categorium.id}) }}"><i class="bi-pencil"></i> Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_categorias_new') }}"><i class="bi-plus"></i>Nova Categoria</a>
{% endblock %}
