{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-outline-primary  my-2" href="{{ path('app_caracteristicas_index') }}"><i class="bi bi-arrow-left"></i> Voltar</a>

    <button class="btn btn-outline-primary">{{ button_label|default('Salvar') }} <i class="bi bi-arrow-right"></i></button>
{{ form_end(form) }}
