{% extends 'base.html.twig' %}

{% block title %}Caracteristicas index{% endblock %}

{% block body %}
    <h1>Caracteristicas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Cor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caracteristica in caracteristicas %}
            <tr>
                <td>{{ caracteristica.id }}</td>
                <td>{{ caracteristica.numero }}</td>
                <td>{{ caracteristica.cor }}</td>
                <td>
                    <a href="{{ path('app_caracteristicas_show', {'id': caracteristica.id}) }}">show</a>
                    <a href="{{ path('app_caracteristicas_edit', {'id': caracteristica.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_caracteristicas_new') }}">Create new</a>
{% endblock %}
