{% extends 'base.html.twig' %}

{% block title %}Caracteristicas index{% endblock %}

{% block body %}
    <h1 class="fs-5 text">Caracteristicas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Numero</th>
                <th>Cor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for caracteristica in caracteristicas %}
            <tr>
                <td>{{ caracteristica.id }}</td>
                <td>{{ caracteristica.numero }}</td>
                <td>{{ caracteristica.cor }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_caracteristicas_show', {'id': caracteristica.id}) }}"><i class="bi-eye"></i> Ver</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_caracteristicas_edit', {'id': caracteristica.id}) }}"><i class="bi-pencil"></i> Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_caracteristicas_new') }}"> <i class="bi-plus"></i>Nova Caracteristica</a>
{% endblock %}
