{% extends 'base.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block body %}
    <h1 class="fs-5 text">Produtos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Imagem</th>
                <th>Preco</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.imagem }}</td>
                <td>{{ produto.preco }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_produtos_show', {'id': produto.id}) }}"><i class="bi bi-eye"></i> Ver</a>
                    <a class="btn btn-outline-primary"  href="{{ path('app_produtos_edit', {'id': produto.id}) }}"><i class="bi bi-pencil"></i> Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_produtos_new') }}"><i class="bi-plus"></i>Novo Produto</a>
{% endblock %}
